@import "tailwindcss";

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* * {
  outline: 1px solid red;
}

main, section, div {
  outline: 1px dashed blue;
} */